#logo_UD {
    height: 40%;
    width: 40%;
}

.row-content {
    margin: 0px auto;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px ridge;
    min-height: 100px;
}

.row-content_2 {
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    min-height: 100px;
}

.jumbotron {
    padding: 15px;
    background: darkslategray;
    color: white;
    font-size: 200%;
    color:floralwhite
}